<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CalbayogHospitalSystemEntities" connectionString="metadata=res://*/CDHModel.csdl|res://*/CDHModel.ssdl|res://*/CDHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAJON_CHAUNCEY\SQLEXPRESS;initial catalog=CalbayogHospitalSystem;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CDHPRIMS.Properties.Settings.CalbayogHospitalSystemConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=CalbayogHospitalSystem;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>